body {
  font-family: Arial;
  margin: 0 0 120px;
  background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h1 {
  color: #2c3e50;
  padding-bottom: 5px;
}

.page-header {
  width: 100%;
  margin: 0 0 60px;
  padding: 18px 0 16px;
  background: #f3f8fc;
  border-bottom:#e0ecfb 5px solid;
}

#sub-title {
  color: #7f7f7f;
  font-size: 18px;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 0
}

h2 {
  color: #39546f;
}

h3 {
  color: #406487;
}

p {
  color: #34495e;
  text-align: center;
  max-width: 600px;
  line-height: 1.3;
  margin: 30px auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid #2388fc;
  width: 20%;
}

#vraag {
  color: #2388fc;
  font-style: italic;
  text-align: center;
}

#screenshot {
  width: 80%;
}

#disclaimer {
  color: #7f7f7f;
  font-style: italic;
  text-align: center;
}